@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "piazzolla",serif;
}
:root{
    --main-bg:#1e272e;
    --main-color:#0097e6;
}
html{
font-size: 62.5%;
}

.row{
    margin: 0px;
}

.navbar{
    color:#fff;
    background-color: var(--main-bg);
}